<html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=iso-8859-1">

<title>SD Survey Tool</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table width="725" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" height="100%" bgcolor="#008083">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="420" valign="top"><img src="../images/srclogo.gif" width="72" height="100"></td>
        </tr>
      </table>
    </td>
    <td width="100%" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td ><img src="../images/topspreader.gif" width="12" height="35"></td>
                <td bgcolor="#E6E6E" width="5">&nbsp</td>
                <td bgcolor="#E6E6E" align="left" valign="middle"><p><b><i><font color="#013056" face="Verdana, Arial, Helvetica, sans-serif" size="4">
                	Pasminco: Optimising Staff Satisfaction and Service Delivery</font></i></b></p></td>
                <td bgcolor="#E6E6E" width="5">&nbsp</td>
                <td align="left"><img src="../images/topspreader.gif" width="15" height="35"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td height="40">
            <table width="100%" border="0" cellspacing="0" cellpadding="3">
              <tr>
                <td width="10">&nbsp;</td>
                <td valign="top" height="23"><font color="#6E0127"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="4">
                	BACKGROUND INFORMATION</font></b></font></td>
              </tr>
              <tr>
	            <td width="10">&nbsp;</td>
                <td valign="top" >
                    <P ALIGN="JUSTIFY"><font size="3" face="Arial, Helvetica, sans-serif">
                      Could you please complete the following background information.  This section is voluntary, but it enables us to establish how representative the staff participating in this project are, when compared to all staff in Pasminco.  The information provided to Pasminco will be based on the collective answers of all staff who complete the survey.</font></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#FF6666">
          <td height="2"><img src="../images/spacer.gif" width="100" height="1"></td>
        </tr>
        <tr valign="top">
        <td>
        	<br>
        	<blockquote>
			<font SIZE="3">
			<form method="POST" action="/cgi-bin/handler.cgi">
			  <p>What is your gender? <br>
			  &nbsp;&nbsp;&nbsp; (a) Female <input type="radio" value="F" name="gender" <TMPL_VAR F_CHK>> (b)
			  Male <input type="radio" name="gender" value="M" <TMPL_VAR M_CHK>></p>
			  <p>What is you Age?<br>
			  </font>&nbsp;&nbsp;&nbsp; <font SIZE="3"><input type="text" name="age" size="4" value=<TMPL_VAR AGE>>
			  Years</p>
			</font>
			<p><font size="3">How long have you been working for Pasminco?<br>
			&nbsp;&nbsp;&nbsp; </font><input type="text" name="working_years" size="4" value=<TMPL_VAR WORKING_YEARS>><font size="3">Years
			<input type="text" name="working_months" size="4" value=<TMPL_VAR WORKING_MONTHS>> Months</font></p>
			<p><font size="3">How long have you been working in your current job?<br>
			&nbsp;&nbsp;&nbsp; </font><input type="text" name="job_years" size="4" value=<TMPL_VAR JOB_YEARS>><font size="3">Years
			<input type="text" name="job_months" size="4" value=<TMPL_VAR JOB_MONTHS>> Months</font></p>
			<font SIZE="3">
			<p>What is your current employment status?
			<table border="0">
			  <tr>
				<td></td>
				<td><font SIZE="3">&nbsp;(a) Full-time </font></td>
				<td><font SIZE="3"><input type="radio" name="emp_stat" value="full" <TMPL_VAR FULL_CHK>></font></td>
				<td><font SIZE="3">(b) Part-time </font></td>
				<td><font SIZE="3"><input type="radio" name="emp_stat" value="part" <TMPL_VAR PART_CHK>></font></td>
			  </tr>
			  <tr>
				<td></td>
				<td><font SIZE="3">&nbsp;(c) Casual </font></td>
				<td><font SIZE="3"><input type="radio" name="emp_stat" value="casual" <TMPL_VAR CASUAL_CHK>></font></td>
				<td><font SIZE="3">(d) Contract (short/long)</font></td>
				<td><font SIZE="3"><input type="radio" name="emp_stat" value="contract" <TMPL_VAR CONTRACT_CHK>></font></td>
			  </tr>
			</table>

			</font>
		</blockquote>
		</td>
        </tr>
      </table>
      <table width="100%">
		  <tr>
		  <td width="32">&nbsp</td>
		  <td><P ALIGN="JUSTIFY" valign="middle">Please click the next button to proceed to the rest of the survey.<blockquote></P></td>
		  <td width="5">&nbsp</td>
		  <td align="right">
		  <input type="image" name="navNext" value="P1S1Q1" src="../images/navnext.gif"></td>
		  <td width="32">&nbsp</td>
		  <tr>
	  </table>

    </td>
  </tr>
</table>
<input type="hidden" name="user_id" value=<TMPL_VAR USER_ID>>
<input type="hidden" name="me" value="DEMOGRAPHICS">
<input type="hidden" name="goto" value="QUESTION">
</form>
</body>
</html>
